
.maindiv{
  display: flex;
  justify-content: space-around;
}

.textarea{
  width: 40vw;
  height: 100%;
}

.textarea > textarea {
  width: 100%;
  height: calc(100vh - 7rem);
  border: 2px solid grey;
  padding: 2rem;
  border-radius: 10px;
}

.markdownarea{
  width: 40vw;
  height: calc(100vh - 7rem);
  border: 2px solid grey;
  padding: 2rem;
  border-radius: 10px;
}